<form>
<div class="emails">
  <p>
    <mat-form-field appearance="standard"  color="accent">
      <mat-label>Email</mat-label>
      <input matInput ="Email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
  </p>
</div>
<div class="password">
  <p>
    <mat-form-field appearance="standard"  color="accent">
      <mat-label>Password</mat-label>
      <input matInput="Password" type="password" #input
             [formControl]="minlength" required>
      <mat-icon matSuffix>lock</mat-icon>
      <mat-hint>Min 8 characters</mat-hint>
      <mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint>
      <mat-error *ngIf="minlength.invalid">must be at least 8 characters</mat-error>
    </mat-form-field>
  </p>
</div>
<button mat-raised-button color="warn" >Sign Up</button>
</form>
