<form class="form">
<div class="emails">
<p>
  <mat-form-field appearance="standard"  color="accent">
    <mat-label>Email</mat-label>
    <input matInput ="Email">
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>
</p>
</div>
<div class="password">
  <p>
    <mat-form-field appearance="standard"  color="accent">
      <mat-label>Password</mat-label>
      <input matInput="Password" type="password">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
  </p>
</div>
<button mat-raised-button color="warn" class="button">Log In</button>
<h4>Don't have an account? Click <a routerLink="/signup">here</a></h4>
</form>
