<p class="text">
  Hello, my name Gill Bates(no relation) I have been brought onto the Burt
  Beans team to create this web page.
  The founders of Burt's Beans, Burt Sandwhich and Roxanne Quibi
  <img class="quibi"src="../../../../assets/quibi.jpg"> created the company and this
  webpage for reasons beyond my understanding, however, I know something is wrong.
  Some of my co workers who protested the questionable morals of this operation have
  gone missing. I've hidden these messages so you can possibly uncover whats happening.
  In the top corner of the admin page there is a link you can't see, click it.
</p>
