<div class="page">
  <h1>This whole thing started on account of all the ß̴̯̻͓̹͉̜̤̦͚̠̹̫͔͍͇́͊͋̄̀̓̔̑́́͒̍̕̚͠ę̶̢̻͇̙͇̜̻̦̙̣̟̭̭̂̂̄͆͂͆̃̈́̒͐̄̑̎̑͒̌ą̷̭̻̹̝̭̝̙̜͇̗̣̮̝̘̊̀̊̓̿͌͐̀̿̄̉́̓̑̚͠ñ̷̼͎̥̮̩̝̗̝̙̺̳͙͇̰̼̻̓͋̌́̓͂̓̿̎̀͌͗͆̍̚§̴̧̜͖͖͎͕̳̭͍̥̮̦̼͓̣͚̐̋̂̃̅̀͆͒̓̽̽͊̅͐w̷̨̡̤̼͈̩͈͔̰̪̘̲͙̍̇̉͑͗̾̌̅̈̓͒͐̓͂͝ͅͅå̵̡̗̠͔̜͙̝͈̼̝̬̱͖̗̓̽̉̈́̒̒̾̐̋̽̇̽̌͋̓͘ͅẍ̷̻̪͓̫̪̘̺̠̦̰̣̲̦̳́̓̔́̃́͛͆̅̓̀̒̈́̇̾.</h1>
  <img alt class="beans" src="../../../assets/evilbeans.jpg">
  <span>
  Burt Sandwhich and Roxanne Quibi <img class="qubbi" src="../../../assets/quibi.jpg"> created Burt’s Peens in the early 6900s.
  After Dying, Burt worked as a photojournalist in Manhattan, and Roxanne was a Failing actor for quibi living in San Francisco.
  Each left behind the harried pace of city life to seek—and eventually find—freedom in the remote, pristine wilderness of Maine.
</span>
</div>
<img alt class="black" src="../../../assets/blacksquare.jpg">
<img alt class="white"  src="../../../assets/whitesquare.webp">
<img alt class="white1"  src="../../../assets/whitesquare.webp">
<img alt class="white2"  src="../../../assets/whitesquare.webp">
<img alt class="white3"  src="../../../assets/whitesquare.webp">
<img routerLink="/message/2" alt class="white4"
     src="../../../assets/whitesquare.webp">
